@import "tailwindcss";

@theme {
  --color-primary: #36A8DF;
  --color-primary-hover: #2B8BC4;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body.page-not-home,
body.page-not-home #root {
  background-color: #E4E4E4;
}
